* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-linner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*---------------*/
body {
  max-height: 100%;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

._titles {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 1px;
  text-align: center;
}

._container {
  width: 100%;
}

.heder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 18px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heder__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: o auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.heder__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 0 30px;
}

.heder__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 15px 40px 15px 40px;
}

.heder__image img {
  max-width: 184px;
}

.heder__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 13px;
  font-weight: 400;
  margin: 20px 30px 20px 30px;
}

.heder__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
  padding: 1px 1px 1px 1px;
  margin: 5px 10px 5px 10px;
  white-space: nowrap;
}
.heder__list li:hover {
  color: #0071BC;
  font-weight: 800;
  padding: 1px;
  padding: 0px 0px 0px 0px;
  margin: 4px 9px 4px 9px;
  border-bottom: 1px solid #0071BC;
}
.heder__list li:last-child {
  margin: 5px 10px 5px 10px;
}

.lang__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lang__lang {
  margin: 10px 10px;
}

.lang__img img {
  width: 20px;
  margin: 10px 0px 10px 0;
}

.lang__select {
  margin: 15px 0 10px 0;
}

.heder__botton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: 500;
  font-size: 15px;
  background-color: #FFD955;
  border-radius: 50px;
  margin: 30px 30px 30px 30px;
  padding: 14px 35px;
  letter-spacing: 1px;
}

.hi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url("../img/ruined_house1.png") 0 0/cover no-repeat;
  background-position: 50% 50%;
}

.hi__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  text-align: center;
}

.hi__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0 25px 0;
}

.hi__title {
  font-size: 55px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1px;
  margin: 0 40px 40px 40px;
}

.hi__subtitle {
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 40px;
  line-height: 29px;
}

.hi__botton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  background-color: #0071BC;
  border-radius: 50px;
  padding: 14px 35px;
  margin: 0 auto;
}

.hi__botton img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.hi__botton p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 17px;
  font-weight: 500;
  white-space: nowrap;
  margin: 0 25px 0 30px;
}

.hi__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 1px;
  width: 100%;
  display: flex;
}

.contacts__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.contacts__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  line-height: 20px;
  margin: 30px;
}

.contacts__media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px;
}

.genocide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url("../img/genocide.png") 0 0/cover no-repeat;
  background-position: 50% 50%;
}

.genocide__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.genocide__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.genocide__row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

.genocide__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin: 0 auto;
  margin: 80px 0 30px 0;
}

.genocide__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  font-size: 21px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 80px;
}

.genocide__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.genocide__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
}

.genocide__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 90px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.genocide__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.genocide__digit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  border-bottom: 1px solid #B6B6B6;
}

.digit__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.digit__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 500;
  font-size: 40px;
  color: #0071BC;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
}

.digit__row p {
  font-weight: 500;
  font-size: 20px;
  margin-left: 3px;
}

.genocide__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 15px;
  margin-left: 20px;
  line-height: 20px;
  letter-spacing: 1px;
}

.participation__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.participation__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.participation__images img {
  width: 33.333%;
}

.participation__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #0071BC;
}

.participation__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.participation__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  -ms-flex-preferred-size: 180px;
      flex-basis: 180px;
  font-size: 25px;
  font-weight: 800;
  line-height: 30px;
  letter-spacing: 1px;
  color: #fff;
  margin: 30px 60px 30px 60px;
  padding-left: 15px;
  border-left: 2px solid white;
  height: 45px;
}

.participation__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 560px;
      flex-basis: 560px;
  margin: 0px 60px 0px 60px;
  padding: 20px 20px 20px 20px;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 1px;
  color: #fff;
}

.participation__botton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  padding: 0 3px;
  color: #000;
  background-color: #FFD955;
  border-radius: 50px;
  padding: 14px 14px;
  margin: 25px 40px 25px 40px;
  height: 60px;
  width: 260px;
}

.participation__botton img {
  width: 33px;
}

.participation__botton p {
  font-size: 17px;
  font-weight: 800;
  white-space: nowrap;
  margin: 0 25px 0 30px;
}

.construction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #E5E5E5;
}

.construction__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 70px 90px;
  width: 90%;
}

.construction__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.construction__item1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
  letter-spacing: 1px;
  width: 90%;
}

.construction__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.construction__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  line-height: 25px;
  padding: 10px 10px;
  margin-bottom: 20px;
}

.construction__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  font-weight: 500;
}

.construction__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.construction__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.construction__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
}

.construction__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.item__image img {
  width: 60px;
  height: 60px;
  margin: 20px;
}

.item__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  font-weight: 800;
  letter-spacing: 1px;
  margin: 10px;
}

.item__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 11px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 20px;
  padding: 10px;
  width: 90%;
}

.modular {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.modular__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modular__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modular__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.modular__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 20px 0px 20px 0px;
}

.modular__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modular__logo img {
  width: 60px;
}

.modular__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  white-space: nowrap;
  margin: 0 0 0 3%;
}

.modular__users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 4% 0 4%;
}

.modular__users img {
  width: 150px;
}

.modular__likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 18% 0 0;
}

.modular__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0% 0 10%;
}

.modular__navigation img {
  width: 9px;
}

.left {
  margin-right: 15px;
}

.right {
  margin-right: 20px;
}

.modular__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modular__row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modular__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.left__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.left__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 25px;
  font-weight: 800;
  letter-spacing: 1px;
  margin: 60px 30px 20px 25px;
}

.left__title span {
  font-size: 15px;
  font-weight: 800;
  letter-spacing: 1px;
  padding-left: 5px;
}

.left__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.left__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.left__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.left__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px 30px 20px 25px;
}

.left__inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 25px;
  border-bottom: 1px solid #B6B6B6;
}

.left__inline p {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
  white-space: nowrap;
}

.left__item li {
  white-space: nowrap;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1px;
  background: url("../img/icons/tick.png") 0 0 no-repeat;
  background-size: 12px;
  padding-left: 20px;
  margin: 0px 0 15px 0;
}
.left__item li:last-child {
  margin: 0;
}
.left__item li:first-child {
  margin-top: 25px;
}

.left__item img {
  width: 25px;
}

.left__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 100%;
  margin: 15px 25px 25px 25px;
}

.left__bottom p {
  font-size: 15px;
  font-weight: 500;
  width: 56%;
}

.left__botton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 27%;
      flex-basis: 27%;
  color: #000;
  background-color: #FFD955;
  border-radius: 50px;
  margin: 0 3% 0 2%;
  height: 30px;
  width: 44%;
}

.left__botton p {
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 1px;
}

.modular__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 15px;
}

.modular__center img {
  max-width: 100%;
  max-height: 200px;
}

.modular__right img {
  max-width: 100%;
  max-height: 600px;
}

.support {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.support__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f5f5f5;
}

.support__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 100px;
}

.support__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid red;
  width: 60%;
  margin-top: 100px;
}

.support__top_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.support__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 70px;
  border: 2px solid blue;
}

.support__icons_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid green;
}

.support__icons_item p {
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 20px;
  text-align: center;
  padding-top: 15px;
}

.support__icons_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  border: 4px solid #e3e3e3;
  border-radius: 50%;
  width: 110px;
  height: 110px;
  margin: 0 auto;
}

.support__icons_item img {
  width: 70px;
  height: 70px;
}

.support__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px;
  width: 70%;
  border: 2px solid yellow;
}

.support__bottom_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.support__bottom_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
  margin-right: 20px;
}

.support__currency {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.support__currency input {
  margin-right: 5px;
}

.support__currency p {
  font-size: 14px;
  font-weight: 300;
  color: #646464;
  margin: 0px 15px 20px 0;
}
.support__currency p:last-child {
  margin-right: 0;
}

.support__sum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 35px;
}

.support__sum p {
  color: #646464;
}

.support__sum_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  border-radius: 7px;
  padding: 12px 14px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
}
.support__sum_item:hover {
  background-color: #0071BC;
  color: #fff;
}
.support__sum_item:hover p {
  color: #fff;
}

.support__sum_item p {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
}
.support__sum_item p:hover {
  color: #fff;
}

.support__sum_form {
  margin-bottom: 30px;
}

.support__sum_form input {
  border-bottom: 1px solid #646464;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #646464;
  background-color: #f5f5f5;
  width: 100%;
  padding: 12px 0;
}

.support__sum_check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}

.support__sum_check p {
  padding: 0 0 0 10px;
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 1px;
}

.support__sum_button {
  background-image: url("../img/icons/do_botton_b.png") 0 1 no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  color: #000;
  background-color: #FFD955;
  border-radius: 50px;
  padding: 14px 14px;
  margin: 0 3% 0 2%;
  height: 60px;
}

.support__sum_button img {
  width: 37px;
}

.support__sum_button button {
  color: #000;
  background-color: #FFD955;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-left: 18%;
}

.support__bottom_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
  margin-left: 20px;
  border: 2px solid black;
}

.support__right_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.support__privat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #0071BC;
  border-radius: 10px;
  background-color: #fff;
  height: 50%;
  margin-bottom: 5px;
}
.support__privat:hover {
  background-color: #0071BC;
  color: #fff;
}
.support__privat:hover a p {
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  border-radius: 0px;
  margin: 16px 30px;
  border-bottom: 1px solid white;
  padding: 0;
}

.support__privat a p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid black;
  border-radius: 50px;
  padding: 15px 30px;
  text-align: center;
}

.support__titles {
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 60px 0 30px 0;
}

.support__privat_bottons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bottons:hover {
  background-color: #FFD955;
  border-radius: 50px;
  border-bottom: 1px;
  padding: 0;
}

.bottons a p:hover {
  border-bottom: 1px solid #0071BC;
}

.support__commercial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #0071BC;
  border-radius: 10px;
  background-color: #fff;
  height: 50%;
  margin-top: 5px;
}
.support__commercial:hover {
  background-color: #0071BC;
}

.support__commercial_bottons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.decisive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.decisive__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../img/moms.png") 0 0/cover no-repeat;
  border: 2px solid red;
  width: 100%;
}

.decisive__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 200px 0;
}

.decisive__subtitle {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #fff;
  margin-bottom: 30px;
}

.decisive__title {
  font-size: 60px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 50px;
}

.decisive__funds_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.decisive__funds_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 18px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.decisive__funds_date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #fff;
}

.decisive__funds_date span {
  font-weight: 700;
}

.decisive__funds_amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 25px;
  font-weight: 800;
  letter-spacing: 1px;
  color: #FFD955;
}

.decisive__funds_line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
  position: relative;
  width: 100%;
}

.Ellipse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0px;
  z-index: 1;
}

.line {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10px;
}

.decisive__botton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  color: #000;
  background-color: #FFD955;
  border-radius: 50px;
  padding: 14px 14px;
  height: 60px;
}

.decisive__botton img {
  width: 39px;
}

.decisive__botton p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
  font-weight: 800;
  letter-spacing: 1px;
  white-space: nowrap;
  margin: 0 30px 0 25px;
}

.how {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.how__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #0071BC;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.how__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}

.how__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.how__top_title {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 80px 0 0px 0;
}

.how__top_description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin-top: 50px;
  width: 80%;
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 25px;
  color: #fff;
}

.how__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
}

.how__center_title {
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #fff;
  margin-top: 30px;
}

.how__center_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.how__center_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.how__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}

.how__icons_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: flex;
  width: 100%;
}

.how__icons_item p {
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  padding-top: 15px;
}

.how__icons_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  border: 4px solid #e3e3e3;
  border-radius: 50%;
  width: 110px;
  height: 110px;
  margin: 0 auto;
}

.how__icons_item img {
  width: 70px;
  height: 70px;
}

.how__center_line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.how__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.how__bottom_title {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin-top: 80px;
  width: 90%;
}

.how__bottom_information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px;
  width: 100%;
}

.how__bottom_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
}

.how__bottom_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 90px;
  width: 300px;
}

.how__bottom_items p {
  background: url("../img/icons/right_w.png") 0 1px no-repeat;
  background-size: 6px;
  font-size: 13px;
  font-weight: 400;
  text-decoration: underline;
  line-height: 16px;
  color: #fff;
  padding-left: 12px;
}

@media screen and (min-width: 1500px) {
  .heder__list li {
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .heder__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}
@media screen and (max-width: 992px) {
  ._container {
    min-width: 750px;
  }

  .hi__title {
    font-size: 40px;
    line-height: 40px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    max-width: none;
  }

  .hi__title {
    font-size: 30px;
    line-height: 40px;
  }
}