@import "nullstyle.scss";



body {
	max-height: 100%;
	font-family: 'Inter', sans-serif;
}
a {
	text-decoration: none;
	color: #000;
}

._titles {
	font-weight: 600;
	text-transform: uppercase;
	font-size: 30px;
	letter-spacing: 1px;
	text-align: center;
}

._container {
	width: 100%;
}
.wrapper {}

.content {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.heder {
	display: flex;
	padding: 18px 0;
	align-items: center;
}
.heder__body {
	display: flex;
	justify-content: center;
	margin: o auto;
	flex-wrap:wrap;
	width: 100%;
	
}
.heder__row {
	display: flex;
	align-items: center;
	flex-wrap:wrap;
	justify-content: center;
	width: 100%;;
	margin: 0 30px;
}
.heder__left {
	display: flex;
	flex-wrap:wrap;
	flex: 0 0 auto;
	margin: 15px 40px 15px 40px;
}
.heder__left img {
	max-width: 184px;
}	

.heder__center{
	display: flex;
	flex-wrap:wrap;
	margin: 0 30px 0 30px;
	border: 1px solid red;
}
.heder__list {
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
	font-size: 13px;
	font-weight: 400;
	margin: 20px 30px 20px 30px;
}

.heder__list li {
	display: flex;
	flex-wrap:wrap;
	margin-right: 20px;
	padding: 1px 1px 1px 1px;
	margin: 5px 10px 5px 10px;
	white-space: nowrap;
	&:hover{
		color: #0071BC;
		font-weight: 800;
		padding: 1px;
		padding: 0px 0px 0px 0px;
		margin: 4px 9px 4px 9px;
		border-bottom: 1px solid #0071BC;
	}
	&:last-child{
	margin: 5px 10px 5px 10px;
	}
}
.heder__right{
	display: flex;
	align-items: center;
	flex-wrap:wrap;
}
.lang__row {
	display: flex;
	align-items: center;
}
.lang__lang {
margin: 10px 10px;
}
.lang__img img{
	width: 20px;
	margin: 10px 0px 10px 0;
}
.lang__select{
	margin: 15px 0 10px 0;
}
.heder__botton {
	display: flex;
	flex-wrap:wrap;
	align-self: center;
	font-weight: 500;
	font-size: 15px;
	background-color: #FFD955;
	border-radius: 50px;
	margin: 30px 30px 30px 30px;
	padding: 14px 35px;
	letter-spacing: 1px;
}
.hi {
	width: 100%;
	display: flex;
	justify-content:center;
	text-align: center;
	background: url('../img/ruined_house1.png') 0 0/cover no-repeat;
	background-position: 50% 50%;
}
.hi__body {
	color: #fff;
}
.hi__row {
	display: flex;
	flex-direction: column;
	align-items:center;
	padding: 100px 0 25px 0;
}
.hi__title {
	//width: 70%;
	font-size: 55px;
	font-weight: 700;
	line-height: 60px;
	letter-spacing: 1px;
	margin: 0 40px 40px 40px;
	//padding-bottom: 40px;

}
.hi__subtitle {
	font-weight: 400;
	font-size: 16px;
	padding-bottom: 40px;
	line-height: 29px;
}
.hi__botton {
	display: flex;
	text-align: center;
	background-color: #0071BC;
	border-radius: 50px;
	padding: 14px 35px;
	margin: 0 auto;
}
.hi__botton img{
	display: flex;
	width: 30px;
	height: 30px;
	margin-right: 20px;
}
.hi__botton p{
	display: flex;
	align-items:center;
	font-size: 17px;
	font-weight: 500;
	white-space: nowrap;
	margin: 0 25px 0 30px;
}
.hi__contacts {
	display: flex;
	letter-spacing: 1px;
	width: 100%;
	display: flex;
	//margin: 25px
}
.contacts__row {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.contacts__phone {
	display: flex;
	flex-direction: column;
	text-align: left;
	line-height: 20px;
	margin: 30px;
}

.contacts__media {
	display: flex;
	margin: 30px;
}

.contacts__list {
}

.genocide {
	display: flex;
	background: url("../img/genocide.png") 0 0/cover no-repeat;
	background-position: 50% 50%;
}

.genocide__body {
	display: flex;
	flex-direction: column;

}
.genocide__top {
	display: flex;
}
.genocide__row1 {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}
.genocide__title {
	display: flex;
	text-align: center;
	margin: 0 auto;
	margin: 80px 0 30px 0; 
}
.genocide__subtitle {
	display: flex;
	margin: 0 auto;
	font-size: 21px;
	font-weight: 400;
	letter-spacing: 1px;
	margin-bottom: 80px;
}
.genocide__content {
	display: flex;
	justify-content:center;
//	margin: 0 auto;
	width: 100%;
}
.genocide__row {
	display: flex;
	width: 80%;
	
}

.genocide__columns {
	display: flex;
	margin-bottom: 90px;
	flex: 0 0 100%;
	justify-content: space-between;
}
.genocide__items {
	display: flex;
	flex-direction: column;
	flex-shrink:0;
//	margin: 20px;
}

.genocide__digit {
	display: flex;
	padding: 20px;
	border-bottom: 1px solid #B6B6B6;

}
.digit__container {
	display: flex;
	align-items:center;
}


.digit__row {
	display: flex;
	flex-direction: column;
	font-weight: 500;
	font-size: 40px;
	color: #0071BC;
	align-items:center;
	width: 80px;
}

.digit__row p{
	font-weight: 500;
	font-size: 20px;
	margin-left: 3px;
}

.genocide__description {
	display: flex;
	align-items:center;
	font-weight: 400;
	font-size: 15px;
	margin-left: 20px;
	line-height: 20px;
	letter-spacing: 1px;
}

.participation {
}
.participation__body {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.participation__top {
}
.participation__item {
	
}
.participation__images {
	display: flex;
}

.participation__images img {
	width: 33.333%;
}

.participation__bottom {
	display: flex;
	justify-content: center;
	flex-wrap:wrap;
	background: #0071BC;
}

.participation__row {
	display: flex;
	flex-wrap:wrap;
	justify-content:center;
}

.participation__title{
	display: flex;
	align-items:center;
	white-space: nowrap;
	flex-basis: 180px;
	font-size: 25px;
	font-weight: 800;
	line-height: 30px;
	letter-spacing: 1px;
	color: #fff;
	margin: 30px 60px 30px 60px;
	padding-left: 15px;
	border-left: 2px solid white;
	height: 45px;
}

.participation__description {
	display: flex;
	align-items:center;
	flex-basis: 560px;
	margin: 0px 60px 0px 60px;
	padding: 20px 20px 20px 20px;
	font-size: 15px;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: 1px;
	color: #fff;
}

.participation__botton {
	display: flex;
	align-items:center;
	flex: none;
	padding: 0 3px;
	color: #000;
	background-color: #FFD955;
	border-radius: 50px;
	padding: 14px 14px;
	margin: 25px 40px 25px 40px;
	height: 60px;
	width: 260px;
}

.participation__botton img{
	width: 33px;
}

.participation__botton p{
	font-size: 17px;
	font-weight: 800;
	white-space: nowrap;
	margin: 0 25px 0 30px;
}




.construction {
	display: flex;
	align-items:center;
	background-color: #E5E5E5;
}

.construction__body {
	display: flex;
	flex-direction:column;
	margin: 70px 90px;
	width: 90%;
}

.construction__top {
	display: flex;
	flex-direction: column;
	align-items:center;
}

.construction__item1 {
	display: flex;
	flex-direction:column;
	align-items:center;
	margin-bottom: 40px;
	letter-spacing: 1px;
	width: 90%;
}

.construction__title {
	display: flex;
	margin-bottom: 30px;
}

.construction__description {
	display: flex;
	text-align: center;
	font-size: 15px;
	font-weight: 300;
	line-height: 25px;
	padding: 10px 10px;
	margin-bottom: 20px;
}


.construction__subtitle {
	display: flex;
	font-size: 20px;
	font-weight: 500;
}

.construction__bottom {
	display: flex;

}

.construction__row {
	display: flex;
	flex: 0 0 100%;
}

.construction__columns {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 90%;
}

.construction__item {
	display: flex;
}

.item__row {
	display: flex;
	width: 100%;
}
.item__image {
}

.item__image img{
	width: 60px;
	height: 60px;
	margin: 20px;
}


.item__content {
	display: flex;
	flex-direction: column;
}
.item__title {
	display: flex;
	font-size: 15px;
	font-weight: 800;
	letter-spacing: 1px;
	margin: 10px;
}
.item__description {
	display: flex;
	font-size: 11px;
	font-weight: 300;
	letter-spacing: 1px;
	line-height: 20px;
	padding: 10px;
	width: 90%;
}

.modular {
	display: flex;
	justify-content:center;
	margin: 0 auto;
}

.modular__body {
	display: flex;
	flex-direction: column;
}
.modular__top {
	display: flex;
	justify-content:center;
}

.modular__row {
	display: flex;
	justify-content: space-between;
	width: 100%;

}

.modular__item {
	display: flex;
	align-items:center;
	width: 100%;
	margin: 20px 0px 20px 0px;
}

.modular__logo {
	display: flex;
}

.modular__logo img{
	width: 60px;
}

.modular__title {
	display: flex;
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 1px;
	white-space: nowrap;
	margin: 0 0 0 3%;
}

.modular__users {
	display: flex;
	margin: 0 4% 0 4%;
}

.modular__users img{
	width: 150px;
}



.modular__likes {
	display: flex;
	margin: 0 18% 0 0;
}

.modular__navigation {
	display: flex;
	margin: 0 0% 0 10%;
}

.modular__navigation img{
	width: 9px;

}

.left {
	margin-right: 15px;
}
.right {
	margin-right: 20px;
}

.modular__bottom {
	display: flex;
}

.modular__row1 {
	display: flex;
	flex-direction:row;
	align-items:center;
}

.modular__left {
	display: flex;
	flex-direction: column;
}
.left__row {
	display: flex;
	flex-direction: column;
}
.left__title {
	display: flex;
	font-size: 25px;
	font-weight: 800;
	letter-spacing: 1px;
	margin: 60px 30px 20px 25px;

}

.left__title span{
	font-size: 15px;
	font-weight: 800;
	letter-spacing: 1px;
	padding-left: 5px;
}

.left__center {
	display: flex;

}

.left__columns {
	display: flex;
	width: 100%;
	justify-content: space-between;

}
.left__column {
	display: flex;

}
.left__item {
	display: flex;
	flex-direction: column;
	margin: 20px 30px 20px 25px;

}

.left__inline{
	display: flex;
	align-items:flex-end;
	padding-bottom: 25px;
	border-bottom: 1px solid #B6B6B6;
}

.left__inline p{
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 1px;
	white-space: nowrap;
}

.left__item li{
	white-space: nowrap;
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 1px;
	background: url('../img/icons/tick.png') 0 0 no-repeat;
	background-size: 12px;
	padding-left: 20px;
	margin: 0px 0 15px 0;
	&:last-child {
		margin: 0;
	}
	&:first-child {
		margin-top: 25px;
	}
}

.left__item img{
	width: 25px;
}

.left__bottom {
	display: flex;
	align-items:center;
	min-width: 100%;
	margin: 15px 25px 25px 25px;
}

.left__bottom p{
	font-size: 15px;
	font-weight: 500;
	width: 56%;
}

.left__botton {
	display: flex;
	align-items:center;
	justify-content:center;
	flex-basis: 27%;
	color: #000;
	background-color: #FFD955;
	border-radius: 50px;
	margin: 0 3% 0 2%;
	height: 30px;
	width: 44%;
}

.left__botton p{
	font-size: 10px;
	font-weight: 500;
	letter-spacing: 1px;
}

.modular__center {
	display: flex;
	flex-direction: column;
	margin-left: 15px;
}

.modular__center img{
	max-width: 100%;
	max-height: 200px;
}

.modular__right {

}
.modular__right img{
	max-width: 100%;
	max-height: 600px;
}

.support {
	display: flex;
}
.support__body {
	display: flex;
	justify-content:center;
	background-color: #f5f5f5;
}
.support__row {
	display: flex;
	flex-direction: column;
	align-items:center;
	width: 100%;
	margin-bottom: 100px;
}
.support__top {
	display: flex;
	flex-direction: column;
	border: 1px solid red;
	width: 60%;
	margin-top: 100px;
}
.support__top_row {
	display: flex;
	flex-direction: column;

}
.support__icons {
	display: flex;
	justify-content: space-between;
	margin-top: 70px;
	border: 2px solid blue;
}
.support__icons_item {
	display: flex;
	flex-direction: column;
	border: 2px solid green;

}
.support__icons_item p{
	font-size: 15px;
	font-weight: 300;
	letter-spacing: 1px;
	line-height: 20px;
	text-align: center;
	padding-top: 15px;
}
.support__icons_img {
	display: flex;
	align-items:center;
	justify-content:center;
	background-color: #fff;
	border: 4px solid #e3e3e3;
	border-radius: 50%;
	width: 110px;
	height: 110px;
	margin: 0 auto;
}
.support__icons_item img{
	width: 70px;
	height: 70px;
}
.support__bottom {
	display: flex;
	flex-direction: column;
	margin-top: 50px;
	width: 70%;
	border: 2px solid yellow;
}
.support__bottom_row {
	display: flex;
	justify-content: space-between;
}
.support__bottom_left {
	display: flex;
	width: 45%;
	margin-right: 20px;
//	border: 2px solid black;
}
.support__currency {
	display: flex;
}
.support__currency input{
	margin-right: 5px;
}
.support__currency p{
	font-size: 14px;
	font-weight: 300;
	color: #646464;
	margin: 0px 15px 20px 0;
	&:last-child{
		margin-right: 0;
	}
}
.support__sum {
	display: flex;
	justify-content: space-between;
	width: 100%;
//	border: 2px solid purple;
	margin-bottom: 35px;
}
.support__sum p{
	color: #646464;
}
.support__sum_item {
	display: flex;
	justify-content: space-between;
	background-color: #fff;
	border-radius: 7px;
	padding: 12px 14px;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
	&:hover{
		p {
			color:#fff;
		}
		background-color: #0071BC;
		color: #fff;
	}
}
.support__sum_item p{
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 1px;
	&:hover{
		color: #fff;
	}
}
.support__sum_form {
	margin-bottom: 30px;
}
.support__sum_form input{
	border-bottom: 1px solid #646464;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 1px;
	color: #646464;
	background-color: #f5f5f5;
	width: 100%;
	padding: 12px 0;
}
.support__sum_check {
	display: flex;
	margin-bottom: 25px;
}
.support__sum_check p{
	padding: 0 0 0 10px;
	font-size: 12px;
	font-weight: 300;
	line-height: 20px;
	letter-spacing: 1px;
}
.support__sum_button {
	background-image: url("../img/icons/do_botton_b.png") 0 1 no-repeat;
	display: flex;
	align-items:center;
	flex-basis: 30%;
	color: #000;
	background-color: #FFD955;
	border-radius: 50px;
	padding: 14px 14px;
	margin: 0 3% 0 2%;
	height: 60px;
}
.support__sum_button img{
	width: 37px;
}
.support__sum_button button{
	color: #000;
	background-color: #FFD955;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 1px;
	margin-left: 18%;
}
.support__bottom_right {
	display: flex;

	width: 45%;
	margin-left: 20px;
	border: 2px solid black;
}
.support__right_row {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.support__privat {
	display: flex;
	flex-direction: column;
	align-items:center;
	border: 1px solid #0071BC;
	border-radius: 10px;
	background-color: #fff;
	height: 50%;
	margin-bottom: 5px;
	&:hover {
		background-color: #0071BC;
		color: #fff;
	}
	&:hover a p{
		color: #fff;
		border: none;
		border-bottom: 1px solid #fff;
		border-radius: 0px;
		margin: 16px 30px;
		border-bottom: 1px solid white;
		padding: 0;
	}
	}

.support__privat a p{
	display: flex;
	flex-direction: column;
	align-items:center;
	justify-content: center;
	border: 2px solid black;
	border-radius: 50px;
	padding: 15px 30px;
//	height: 40px;
//	width: 150px;
	text-align: center;
}
.support__titles {
	font-size: 25px;
	font-weight: 400;
	letter-spacing: 1px;
	margin: 60px 0 30px 0;
}
.support__privat_bottons {
	display: flex;
	align-items:center;
	width: 75%;
	justify-content: space-between;
	
}
.bottons {
	&:hover{
	background-color: #FFD955;
	border-radius: 50px;
	border-bottom: 1px ;
	padding: 0;
	}
}
.bottons a p{
	&:hover {
		border-bottom: 1px solid #0071BC;
	}
}
.help {}
.bye {}

.support__commercial {
	display: flex;
	flex-direction: column;
	align-items:center;
	border: 1px solid #0071BC;
	border-radius: 10px;
	background-color: #fff;
	height: 50%;
	margin-top: 5px;
	&:hover {
		background-color: #0071BC;
	}
}
.support__commercial_bottons {
	display: flex;
	align-items:center;
}

.decisive {
	display: flex;
	width: 100%
}

.decisive__body {
	display: flex;
	align-items:center;
	background: url("../img/moms.png") 0 0/cover no-repeat;
	border: 2px solid red;
	width: 100%;
}
.decisive__row {
	display: flex;
	align-items:center;
	flex-direction: column;
	align-items:center;
	width: 100%;
	padding: 200px 0;
}
.decisive__subtitle {
	font-size: 30px;
	font-weight: 400;
	letter-spacing: 1px;
	color: #fff;
	margin-bottom: 30px;
}
.decisive__title {
	font-size: 60px;
	font-weight: 600;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 50px;
}
.decisive__funds {}
.decisive__funds_row {
	display: flex;
	flex-direction: column;
}
.decisive__funds_top {
	display: flex;
	margin-bottom: 18px;
	justify-content: space-between;
}
.decisive__funds_date {
	display: flex;
	flex-direction: column;
	font-size: 22px;
	font-weight: 400;
	letter-spacing: 1px;
	color: #fff;

}
.decisive__funds_date span{
	font-weight: 700;
}
.decisive__funds_amount {
	display: flex;
	flex-direction: column;
	font-size: 25px;
	font-weight: 800;
	letter-spacing: 1px;
	color: #FFD955;
}
.decisive__funds_line {
	display: flex;
	align-items:center;
	margin-bottom: 80px;
	position: relative;
	padding: 0 20px 0 20px;
	width: 100%;
}
.Ellipse {
	display: flex;
	position: absolute;
	left: 0px;
	z-index: 1;
}
.line {
	width: 100%;
	display: flex;;
	height: 10px;
}
.decisive__botton {
	display: flex;
	align-items:center;
	flex-basis: 30%;
	color: #000;
	background-color: #FFD955;
	border-radius: 50px;
	padding: 14px 14px;
	height: 60px;
}
.decisive__botton img{
	width: 39px;
}
.decisive__botton p{
	display: flex;
	align-items:center;
	font-size: 25px;
	font-weight: 800;
	letter-spacing: 1px;

	white-space: nowrap;
	margin: 0 30px 0 25px;
}

.how {
	display: flex;
}

.how__body {
	display: flex;
	background-color: #0071BC;
	justify-content: center;
	align-items:center;
	width: 100%;
}
.how__row {
	display: flex;
	flex-direction: column;
	align-items:center;
	width: 80%;
}
.how__top {
	display: flex;
	align-items:center;
	flex-direction: column;
}
.how__top_title {
	font-size: 30px;
	font-weight: 600;
	letter-spacing: 1px;
	color: #fff;
	margin: 80px 0 0px 0;
}
.how__top_description {
	display: flex;
	text-align: center;
	margin-top: 50px;
	width: 80%;
	font-size: 17px;
	font-weight: 300;
	letter-spacing: 1px;
	line-height: 25px;
	color: #fff;
}
.how__center {
	display: flex;
	flex-direction: column;
	align-items:center;
	justify-content: space-between;
	width: 60%;
}
.how__center_title {
	font-size: 25px;
	font-weight: 500;
	letter-spacing: 1px;
	color: #fff;
	margin-top: 30px;
}
.how__center_icons {
	display: flex;
	justify-content: space-between;
}
.how__center_row {
	display: flex;
	justify-content: space-between;
}
.how__icons {
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
}
.how__icons_item {
	display: flex;
	flex-direction: column;
	display: flex;
	width: 100%;
}
.how__icons_item p{
	font-size: 15px;
	font-weight: 300;
	letter-spacing: 1px;
	line-height: 20px;
	color: #fff;
	text-align: center;
	padding-top: 15px;
}
.how__icons_img {
	display: flex;
	align-items:center;
	justify-content:center;
	background-color: #fff;
	border: 4px solid #e3e3e3;
	border-radius: 50%;
	width: 110px;
	height: 110px;
	margin: 0 auto;
}
.how__icons_item img{
	width: 70px;
	height: 70px;
}
.how__center_line {
	display: flex;
}
.how__bottom {
	display: flex;
	align-items:center;
	flex-direction: column;
	width: 100%
}
.how__bottom_title {
	text-align: center;
	justify-content:center;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 1px;
	color: #fff;
	margin-top: 80px;
	width: 90%;
}
.how__bottom_information {
	display: flex;
	align-items:center;
	flex-direction: column;
	margin-top: 50px;
	width: 100%
}
.how__bottom_row {
	display: flex;
	justify-content: space-between;
	width: 90%;
}
.how__bottom_items {
	display: flex;
	justify-content: space-between;
	margin-bottom: 90px;
	width: 300px;
}

.how__bottom_items p{
	background: url('../img/icons/right_w.png') 0 1px no-repeat;
	background-size: 6px;
	font-size: 13px;
	font-weight: 400;
	text-decoration: underline;
	line-height: 16px;
	color: #fff;
	padding-left: 12px;
}

@media screen and (min-width: 1500px){
	.heder__list li {
		font-size: 20px;
	}
}
@media screen and (min-width: 1400px){
	.heder__row {
		display: flex;
		justify-content: space-between;
	}
}
@media screen and (max-width: 1200px){
	.container{
		max-width: 970px;
	}
}
@media screen and (max-width: 992px){
	._container{
		min-width: 750px;
	}
	.hi__title{
		font-size: 40px;
		line-height: 40px;
	}
}
@media screen and (max-width: 767px){
	.container{
		max-width: 480px;
	}
	.hi__title{
		font-size: 30px;
		line-height: 40px;
	}
}
@media screen and (max-width: 480px){
	.container{
		max-width: none;
	}
	.hi__title{
		font-size: 30px;
		line-height: 40px;
	}
}
